# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
.nyc_output

# production
/_book
dist
lib

# misc
.idea
.DS_Store
*.swp
npm-debug.log*

npm-debug.log
yarn-error.log

package-lock.json
yarn.lock

# test
coverage
.npmignore

/examples/.wepycache
/examples/.wepyignore